nav a{
	color: #ABABAB;
	font-size: 14px;
	width: 100px;
	position: relative;
	padding: 1em;

}


nav a:hover{
	color: #ABABAB;
}

.lead{
	padding: 3em;
   
}
span {
	color: rgb(255,90,95);
	font-size: 45px;
}

h1{
	font-size: 55px;
}

.fa-chevron-down:before {
  content: "\f078";
}


.btn-warning{
	background-color: rgb(255,90,95);
}

.btn-warning:hover{
background-color: rgb(255,90,95);
}

.ses{
	color:  #ABABAB;
	font-size: 17px
}

.text-center{
	position: relative;
	top: 40px;
	left: 2%;
	border-style: groove;
	border-radius: 5px;
	height: 90px;
}

.list-inline a{
      color: #ABABAB;
}

.list-inline{
	position: relative;
	left: 5%;
	font-size: 10px;
	color: black;
	
}

.list-inline a{
	color: black;
	padding: 1em;
}

.list-inline a:hover{
	text-decoration: none;
	color: black;
}
u{
	color: #028489;
}
h3{
	padding: 1em;
}

.wrapper{
	min-height: 40vh;
}


.card{
	height: 35vh;
	width: 15%;
	background-color: #eee;
	float: left;
	margin-left: 12px;
	position: relative;
	left: 10%;

}

.bar{
	height: 35vh;
	width: 100%;

}
.bat{
	height: 35vh;
	width: 100%;
}

.pei{
	height: 35vh;
	width: 100%;
}

.poi{
	height: 35vh;
	width: 100%;
}

.vel{
	height: 35vh;
	width: 100%;
}

.wrapper1{
	min-height: 40vh;
}

.pho{
   height: 35vh;
	width: 100%;
}

.vin{
   height: 35vh;
	width: 100%;
}

.wal{
  height: 35vh;
	width: 100%;
}

.mar{
  height: 35vh;
	width: 100%;
}

.pei2{
  height: 35vh;
	width: 100%;
}
.wrapper2{
	min-height: 50vh;

}

.card1{
	height: 35vh;
	width: 30%;
	background-color: #eee;
	float: left;
	margin-left: 12px;
	position: relative;
	left: 5%;

}


.mai2{
	height: 35vh;
	width: 100%;
}

.maib{
	height: 35vh;
	width: 100%;
}

.mai3{
	height: 35vh;
	width: 100%;
}

.wrapper3{
	min-height: 40vh;
}

.card2{
	height: 35vh;
	width: 15%;
	background-color: #eee;
	float: left;
	margin-left: 12px;
	position: relative;
	
}

.san{
	height: 35vh;
	width: 100%;
}

.cap{
	height: 35vh;
	width: 100%;
}
.par{
	height: 35vh;
	width: 100%;
}

.lon{
	height: 35vh;
	width: 100%;
}

.chi{
	height: 35vh;
	width: 100%;
}

.thu{
	height: 35vh;
	width: 100%;
}

.wrapper4{
	min-height: 40vh;
	position: relative;
	left: 40%;
}
.card3{
   height: 35vh;
	width: 15%;
	float: left;
	margin-left: 10px;
	position: relative;
	left: 10%;
}


ul li{
	list-style: none;
	color: #ABABAB;
}

ul li a{
	color: #ABABAB;
}

ul li a:hover{
	color: #ABABAB;
}

.ere{
	color: #ABABAB;
	position: relative;
	left: 20%;
	font-size: 18px;
}



.list-inline{
	position: relative;
	font-size: 16px;
 	color: #ABABAB;

}



.fa-star{
	color: green;
}

.fa-facebook{
	font-size: 25px;
}


.fa-twitter{
	font-size: 25px;
}


.fa-instagram{
	font-size: 25px;
}


